@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
outline: 0;
border: 0;
transition: all .2s linear;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
font-family: 'Poppins', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
font-weight: 300;
background-color: #000 !important;
color: #f5f5f5 !important;
}

body a{
    text-decoration: none;
    color: #fff;
}

body p{
    margin: 0;
}

body a:hover{
    color: #fff;
    text-decoration: none;
}



.body-2{
    margin-left: 12%;
}

body li{
    list-style-type: none;
}

.myImage{
    padding-block: 15px 30px;
}

.myImage p{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 20px;
    padding-bottom: 12px;
}

.myImage img{
    width: 70px;
    margin-block: 15px;
}

.nav-bar{
position: fixed;
top:0;
left:0;
bottom:0;
text-align: center;
background-color: rgba(34, 34, 34, 1);
z-index: 999;
width: 175px;
}

.nav-bar li{
padding:15px;
border-top: .1px solid #f5f5f536;
}

.nav-bar li a{
    padding-inline: 30px;
    cursor: pointer;
}

.nav-bar li:hover{
    background-color: #333333;
    border-right: 3px solid #0099cc;
}

.nav-bar li:active{
    background-color: #333333;
    border-right: 3px solid #0099cc;
}

li.bottom-line{
border-bottom: .1px solid #f5f5f536;
}

.social-media-link{
    padding-block:15px;
    font-size: 2rem;
}

.social-media-link a{
    padding: 5px 15px;
    border-radius: 8px;
    background-color: #444;
    color: #aaa;
    font-size: 1.3rem;
    margin-inline: 10px;
}


.social-media-link a:hover{
    background-color: #0099cc;
    color: #fff;
}

#menu-bars{
    font-size: 1.2rem;
    z-index: 100000;
    background-color: #444;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    display: none;
}

.header-logo {
    display: flex;
    z-index: 1;
}

.header-logo img{
    width: 50px;
    margin-right: 10px;
}




/* About Us CSS */

section.about{
    min-height: 100vh;
}

.about-me-img img{
    max-width: 100%;
}

.about-me-section{
    display: flex;
    align-items: inherit;
}

.empty-div{
    background-color: #333333;
}

.aboutMe{
    background-color: #333333;
    padding:100px;
}
.aboutMe p{
    font-size: 1rem;
    line-height: 1.85em;
    color: #d5d5d5;
}

p.light-color{
    color: #a5a5a5;
    font-weight: 300;
    font-size: 0.9rem;
}

.aboutMe h2{
    font-size: 2.5rem;
    line-height: 1.2em;
    margin-bottom: 15px;
}

.aboutMe button{
    margin-top: 40px;
}

a.insta-btn{
    color:#ffffff;
    border: 0 !important;
    background-color: #333333;
    padding: 0 !important;
}

a.insta-btn:hover{
    text-decoration: line-through;
    background-color: #333 !important;
    border:0 !important;
    padding: 0 !important;
}

.form-btn a{
    display: block;
    padding: 10px 18px;
    color: #fff;
    background-color: rgba(34, 34, 34, 1);

}


.aboutMe a{
    padding: 12px 28px;
    background-color: #333333;
    border:2px solid #007bff;
    border-radius: 5px;
}

.aboutMe a:hover{
    background-color: #007bff;
}

.what-i-do{
    background-color: #222222;
    padding: 50px 70px 70px;
}

.what-i-do-heading{
    position: relative;
}

.what-i-do-heading::before{
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0px;
    border-bottom: 3.5px solid #0099e5;
    width: 130px;
}
.what-i-do-service{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
    padding: 40px 30px 0px;
}

.services{
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: space-between;
}

.services i{
    vertical-align: middle;
    font-size: 35px;
    color: #aaa;
    padding-bottom: 70px;
}

.what-i-do-service p{
    color: #e5e5e5;
}

.what-i-do-service h4{
    color: #f5f5f5;
}

.tech-i-work-with{
    background-color: #222222;
    padding: 50px 70px 15px 80px;

}

.tech-i-work-with-heading{
    position: relative;
}

.tech-i-work-with h4{
    color: #f5f5f5;

}

.tech-i-work-with-heading::before {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0px;
    border-bottom: 3.5px solid #0099e5;
    width: 280px;
}

.coding-image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px 70px 0px;
}
.coding-image img{
    width: 100px;
}



/* About Us CSS */




/* Contact Us CSS */

#contact{
    padding: 0% 20px;
    background-color: rgba(34, 34, 34, 1);
}

.contact-heading h2{

    color: #f5f5f5;
    font-size: 1.9rem;
    font-weight: 600;
    padding: 30px 30px 10px 60px;
    position: relative;
}

.contact-heading h2::before{
    position: absolute;
    content: '';
    bottom: 3px;
    left: 60px;
    border-bottom: 1px solid #aaa;
    width: 90%;
}

.contact-heading p{

    display: block;
    color: #bbb;
    font-size: 1rem;
    font-weight: 300;
    text-align: right;
    padding-right: 60px;
}


.contact-tab-flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 50px;
    width: 90%;
    margin: auto;
    height: 120px;
}

.contact-box{
    background-color: #333;
    border-color: #444;
    border-radius: 5px;
    font-size: 1.2rem;
    display: grid;
    place-content: center;
}

.contact-box p{
    font-weight: 600;
}

.contact-box i{
    padding-bottom: 10px;
    font-size: 1.2rem;
}

.form-heading{
        position: relative;
}

.form-heading::before{
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0px;
    border-bottom: 3.5px solid #0099e5;
    width: 270px;
}


.contact-us-from{
        padding-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
}


.contact-us-from input{
    border: 1px solid #dfdfdf;
    border-radius: 0;
    display: block;
    font-size: 1rem;
    margin: 0;
    padding: 10px 25px 10px 12px;
    width: 100%;
    background: 0 0;
    text-align: left;
    margin-bottom: 30px;
    color: #aaa;
}
.contact-us-from textarea{
    border: 1px solid #dfdfdf;
    border-radius: 0;
    display: block;
    font-size: 1rem;
    margin: 0;
    padding: 10px 25px 10px 12px;
    width: 100%;
    background: 0 0;
    text-align: left;
    margin-bottom: 30px;
    color: #aaa;
}

.form-btn a{
    display: block;
    padding: 10px 18px;
    color: #fff;
    background-color: rgba(34, 34, 34, 1);
    border:2px solid #007bff;
}

.form-btn a:hover{
    background-color: #007bff;
}

/* Contact Us CSS */


/* Resume CSS */

#resume{
    padding: 0% 20px;
    background-color: rgba(34, 34, 34, 1);
}

.resume-flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.resume-heading h2{
    position: relative;
    color: #f5f5f5;
    font-size: 1.9rem;
    font-weight: 600;
    padding: 30px 30px 10px 60px;
}

.resume-heading h2::before{
    position: absolute;
    content: '';
    bottom: 0px;
    left: 60px;
    border-bottom: 1px solid #aaa;;
    width: 90%;
}

.resume-heading p{
    display: block;
    color: #bbb;
    font-size: 1rem;
    font-weight: 300;
    text-align: right;
    padding-right: 60px;
}

.resume-text-details{
    padding: 30px 30px 30px 60px;
}

.resume-text-details-heading{
    position: relative;
}

.resume-text-details-heading::before{
    position: absolute;
    content: '';
    bottom: -8px;
    left: 0px;
    border-bottom: 3.5px solid #0099e5;
    width: 140px;
}

.resume-text-details-details{
    padding: 10px 50px;
    margin-bottom: 10px;

}

.resume-text-details-details h4{
    font-size: 1rem;
    line-height: 1.4em;
}

.resume-text-details-details p{
    display: block;
    color: #aaa;
    font-size: 0.9rem;
    line-height: 1.45em;
}

.year{
    text-align: right;
}

.form{
    padding: 50px;
    width: 70%;
    margin: auto;
}

.resume-bar-details {
    padding: 30px 80px;
}

.resume-bar-details-heading{
    position: relative;
}

.resume-bar-details-heading::before{
    position: absolute;
    content: '';
    bottom: -8px;
    left: 0px;
    border-bottom: 3.5px solid #0099e5;
    width: 170px;
}

.resume-bar-details span{
    font-size: 1.2rem;
    font-weight: 600;
}

.achievement-box-namebar-area {
    color: white;
  }
  
  .achievement-box-bar {
    background-color: rgba(34, 34, 34, 1);
    border: 1px solid #0099e5;
    height: 12px;
    border-radius: 20px;
    width: 450px;

  }

  .skill-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 440px;
    padding-bottom: 4px;
    margin-block: 5px;
  }

  .resume-bar-details-heading h3 {
    margin-bottom: 25px;
}

  .achievement-box-status-25 {
    background-color: #0099e5;
    margin: 2px;
    height: 5px;
    width: 95%;
    animation: skill-25 3s;
    border-radius: 20px;
  }
  
  .achievement-box-status-50 {
    background-color: #0099e5;
    margin: 2px;
    height: 5px;
    width: 65%;
    animation: skill-50 3s;
    border-radius: 20px;
  }
  
  .achievement-box-status-75 {
    background-color: #0099e5;
    margin: 2px;
    height: 5px;
    width: 80%;
    animation: skill-75 3s;
    border-radius: 20px;
  }
  
  .achievement-box-status-100 {
    background-color: #0099e5;
    margin: 2px;
    height: 5px;
    width: 90%;
    animation: skill-100 3s;
    border-radius: 20px;
  }

  
  @keyframes skill-25 {
    from { 
        background-color: #0099e5;
        width: 0px; 
      }
      to { width: 95%; }
    }
  
  @keyframes skill-50 {
    from { 
      background-color: #0099e5;
      width: 0px; 
    }
    to { 
      width: 65%; 
    }
  }
  
  @keyframes skill-75 {
     from { 
      background-color: #0099e5;
      width: 0px; 
    }
    to { width: 80%; }
  }
  
  @keyframes skill-100 {
     from { 
      background-color: #0099e5;
      width: 0px; 
    }
    to { width: 90%; }
  }
  


.resume-btn button{
    margin: 40px 30px 80px 80px;

}

.resume-btn a{
    padding: 10px 28px;
    background-color: #333333;
    border:2px solid #007bff;
    border-radius: 5px;
}

.resume-btn a:hover{
    background-color: #007bff;
}

/* Resume CSS */


iframe{
    border:0;
    padding:40px 60px;
}

#portfolio{
    padding: 40px 20px;
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;

}

 #portfolio ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

 #portfolio ul li{
    list-style-type: none;
    background-color: #aaa;
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

 #portfolio ul li.active{
    background-color: #333;
    color: #aaa;
}

.product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.product .itemBox{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
    display: block;
}

.product .itemBox.hide{
    display: none;
}

.product .itemBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-heading{
    width: 100%;
}

.portfolio-heading h2 {
        color: #f5f5f5;
        font-size: 1.9rem;
        font-weight: 600;
        padding: 30px 30px 10px 30px;
        position: relative;
}

.portfolio-heading h2::before{
    position: absolute;
    content: '';
    bottom: 3px;
    left: 25px;
    border-bottom: 1px solid #aaa;
    width: 95%;
}

.portfolio-heading p{
display: block;
color: #bbb;
font-size: 1rem;
font-weight: 300;
text-align: right;
padding-right: 40px;
margin-bottom: 40px;
}




@media (max-width:1024px){

    .aboutMe{
        padding: 100px 100px 0px 75px;
    }

    .about-me-img img {
        max-width: 176%;
    }

    .resume-flex{
        display: block;
    }
    .achievement-box-bar {
        background-color: rgba(34, 34, 34, 1);
        border: 1px solid #0099e5;
        height: 12px;
        border-radius: 20px;
        width: 70%;
    }
    
    .resume-bar-details{
        margin-left: 15%;
        padding: 30px 0;
    }

    .resume-text-details{
        margin-left: 10%;
        padding: 30px 0;
    }

    .skill-flex{
        width: 70%;
    }

    .form{
        width: 90%;
    }
}







@media (max-width:991px){

    #menu-bars{
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0;
        background-color: #222;
        border-color: #444;
        padding-inline: 4%;
    }
    #menu-bars p{
        padding-left: 7px;
    }
    .myImage img{
        width: 50px;
    }
    .myImage p{
        font-size: 1.2rem;
    }
    .myImage{
        padding-block: 15px 20px;
    }
    .nav-bar{
         left: -180%; 
        top: 7px;
    }
    .body-2{
        margin:0;
    }
    .nav-bar.active {
        left: 0;
        top: 70px;
        transition:  all .5s linear;;
    }

    .resume-flex{
        display: block;
    }

    .coding-image{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:50px;
    }

    .resume-text-details-details{
        padding: 10px 50px 10px 20px;
    }
    
    .resume-bar-details{
        margin-left: 20%;
    }

    .contact-tab-flex{
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 

    .contact-box{
        height: inherit;
    }

    form{
        margin-top: 150px;
    }

    .resume-btn {
        text-align: center;
    }

    .resume-btn button {
        margin: 40px 0px 35px 0px;
    }
}

@media (max-width:768px){

    div#menu-bars {
        position: fixed;
        width: 100%;
    }

    .aboutMe {
        padding: 60px 50px;
        margin-top: 40px;
    }

    .about-me-img img {
        max-width: 175%;
    }

    #resume {
        padding: 0% 20px;
    }

    .resume-text-details-details {
        padding: 10px 50px 10px 0px;
    }
    .achievement-box-bar {
        width: 80%;
    }
    
    .skill-flex{
        width: 80%;
    }

    form{
        margin-top: 160px;
    }

    #resume{
        padding: 0;
    }

    .what-i-do-service {
        gap: 60px;
        padding: 60px 30px;
    }

    .tech-i-work-with {
        padding: 0px 50px;
    }

    .resume-heading h2::before {
        width: 84%;
    }

    .contact-heading h2::before {
        width: 84%;
    }

    .form{
        width: 100%;
        padding: 60px 40px;
    }

    .contact-us-from {
        padding-top: 30px;
        grid-template-columns: 1fr;
    }

    .contact-us-from textarea{
        display: none;
    }

    .what-i-do {
        padding: 50px;
    }
}


@media (max-width:480px){

    .aboutMe {
        margin-top: 0px;
    }

    .about-me-section{
        display: block;
    }

    .aboutMe {
        padding: 30px 20px 40px 20px;
    }

    .about-me-img img {
        max-width: 100%;
    }

    iframe{
        padding: 50px 10px;
    }

    .form-heading {
        padding-top: 40px;
        padding-left: 15px;
    }

    .form-heading::before{
        left: 15px;
    }

    .contact-us-from input {
        margin: 30px 0px;
        padding: 10px 10px 10px 12px;
        width: 100%;
    }

    .what-i-do-service{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 60px;
    }

    .what-i-do {
        padding: 50px 20px 20px;
    }

    .tech-i-work-with{
        padding: 50px 20px 20px;
    }

    .coding-image{
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    #resume{
        padding: 0;
    }

    .resume-bar-details {
        margin-left: 10%;
    }

    .achievement-box-bar{
        width: 85%;
    }

    .skill-flex {
        width: 85%;
    }

    .contact-tab-flex {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact-us-from{
        display: grid;
        grid-template-columns: 1fr;
    }

    .resume-text-details-details {
        padding: 10px 50px 10px 10px
    }

    .contact-heading h2 {
        padding: 30px 30px 10px 20px;
    }

    .contact-heading h2::before {
        left: 20px;
    }

    .contact-heading p {
        padding-right: 15px;
    }

    .resume-heading h2 {
        padding: 30px 30px 10px 20px;
    }

    .resume-heading h2::before {
        left: 20px;
    }

    .contact-heading p {
        padding-right: 15px;
    }

    .form {
        width: 100%;
        padding: 0;
    }

    form {
        margin-top: 510px;
    }

    iframe{
        padding:30px;
    }

    .contact-us-from textarea{
        display: none;
    }

    .achievement-box-status-25 {
        width: 95%;
    }

    .achievement-box-status-50 {
        width: 70%;
    }

    .achievement-box-status-75 {
        width: 85%;
    }

    .achievement-box-status-100 {
        width: 90%;
    }
    
    .portfolio-heading p{
        padding-right: 20px;
    }

    .portfolio-heading h2{
        padding: 30px 30px 10px 0px;
    }

    .portfolio-heading h2::before {
        left: 0;
    }
    
}







